<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spoot_taxi_front">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpootTaxiFront"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">

        <activity
            android:name=".activities.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" /> <!-- SplashActivity를 시작 액티비티로 설정합니다. -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5fc7a866ed3c80056062b4e7e6692441" />

        <activity android:name=".activities.MainActivity">

            <!-- 메인 액티비티에 대한 설정 등을 추가할 수 있습니다. -->
        </activity>
    </application>

</manifest>